@model IEnumerable<StoreAppWebUI.Models.OrderVM>
@{ 
    string firstname = Context.Request.Query["firstName"];
    string lastname = Context.Request.Query["lastName"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>Order History</h3>

    <!-- table to list customer's order history -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Date", "CustomerOrders", 
                        new { firstName = firstname, lastName = lastname, sortOrder = ViewBag.DateSort })
                </th>
                <th>Item</th>
                <th>Quantity Sold</th>
                <th>
                    @Html.ActionLink("Total", "CustomerOrders",
                        new { firstName = firstname, lastName = lastname, sortOrder = ViewBag.PriceSort })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{string time = item.Date.ToString("MM/dd/yyyy HH:mm:ss");}
                        @Html.DisplayFor(modelItem => time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LineItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantitySold)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" class="btn btn-danger" style="position:relative; top:10px;">Back</a>
</body>
</html>